{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium beschrijft terminologie nodig om verkeersmetingen te beschrijven.</p>
<p>De klassen en eigenschappen zijn grotendeels specialisaties van termen uit de vocabularia <a href="https://www.iso.org/standard/32574.html">ISO 19156 Observaties en Metingen</a>) en <a href="https://www.w3.org/TR/vocab-ssn/">SSN/SOSA Sensoren en Bemonstering</a>.</p>
<p>Verkeer gaat over het verplaatsen van objecten zoals personen of goederen over media als weg, waterweg, spoorweg etc maar hier ligt de focus op wegvervoer.</p>
<p>Centraal staat de klasse Verkeersmeting die aangeeft welk Verkeerskenmerk van welk Verkeersobject gemeten werd en wat daarvan het resultaat was.</p>
<p>Klassen als Voertuigen en Verkeersdeelnemer zijn nodig omdat dit de objecten zijn die zich verplaatsen of verplaatst worden.</p>
<p>Verder hebben we klassen nodig voor de infrastructuur waarover het verkeer plaatsvindt: Wegsegmenten, Wegknopen edm zijn al in andere vocabularia gedefinieerd (zie <a href="https://data.vlaanderen.be/ns/weg/">OSLO-weg</a>, <a href="https://data.vlaanderen.be/ns/transportnetwerk/">OSLO-transportnetwerk</a> en <a href="https://data.vlaanderen.be/ns/netwerk/">OSLO-netwerk</a>) maar we voegden daar nog Wegdelen aan toe zoals Fietspaden, Rijstroken en Voetpaden.</p>
<p>Omdat Wegobjecten of andere Verkeersdomeinobjecten zelden direct geobserveerd worden was er ook nood aan de klassen Verkeersmeetpunt en Verkeersmeettraject die deze objecten bemonsteren.</p>
<p>Omdat Verkeersmetingen ook dikwijls gegroepeerd worden uitgewisseld voorzagen we nog een klasse Verkeersmetingverzameling.</p>
<p>Qua terminologie voor eigenschappen gaat het vooral om specialisaties van bestaande termen als bemonsterdObject, geobserveerdKenmerk, geobserveerdObject en dergelijke.</p>
{% endblock %}
