{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel heeft tot doel data met betrekking tot verkeersmetingen te standaardiseren om zo deze data vlotter uit te wisselen en de herbruikbaarheid ervan te vergroten.</p>
<p>Het datamodel bouwt verder op het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">AP Observaties en Metingen</a> (gebaseerd op <a href="https://www.iso.org/standard/32574.html">ISO 19156</a>) en het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/">AP Sensoren en Bemonstering</a> (gebaseerd op <a href="https://www.w3.org/TR/vocab-ssn/">SSN/SOSA</a>). Er zijn verder referenties naar <a href="https://inspire.ec.europa.eu/Themes/115/2892">INSPIRE Transportnetwerk</a> en <a href="https://www.iso.org/standard/32575.html">ISO 19157 Datakwaliteit</a>.</p>
<p>Centraal staat de klasse Verkeersmeting die aangeeft welk Verkeerskenmerk van welk Verkeersobject gemeten werd en wat daarvan het resultaat was.</p>
<p>Onder verkeer verstaan we de verplaatsing van objecten zoals personen of goederen over media als weg, waterweg, spoorweg etc. in dit profiel ligt de focus op wegverkeer.</p>
<p>Objecten die met verkeer te maken hebben zijn de objecten die zich verplaatsen of verplaatst worden zoals Voertuigen en Verkeersdeelnemers als bestuurders, passagiers, voetgangers. Van zeker even groot belang zijn de objecten waarover het verkeer plaatsvindt.</p>
<p>Om Verkeerskenmerken te kunnen observeren van de objecten die verplaatst worden zijn klassen als Voertuig en Verkeersdeelnemer noodzakelijk. Voorbeelden van kenmerken in dat geval zijn snelheid, nummerplaat en dergelijke.</p>
<p>Om kenmerken met betrekking tot het verkeer over de objecten waarover het verkeer plaatsvindt te kunnen beschrijven zijn Wegobjecten zoals Wegsegmenten en Wegobjecten nodig, maar ook Rijrichting en Wegdelen zoals Rijstroken, Fietspaden en Voetpaden. Voorbeelden van kenmerken zijn verkeersintensiteit, afslagbeweging en dergelijke, indien nodig uitgesplitst volgens type Voertuig of Verkeersdeelnemer.</p>
<p>Al deze objecten samen noemen we Verkeersdomeinobjecten.</p>
<p>Directe observatie vd objecten die bij verkeer betrokken zijn is niet altijd mogelijk, men kan bvb geen individueel Voertuig volgen of een weg in zijn geheel observeren. Men moet deze objecten als het ware bemonsteren, bv door zich op een bepaald punt langs de weg te positioneren (Verkeersmeetpunt) of een representatieve afstand te monitoren (Verkeersmeetttraject). We noemen deze objecten Verkeersbemonsteringsobjecten.</p>
<p>De geografische positie van het meetpunt- of traject kan worden opgegeven alsook het Wegobject of Wegdeel waarlangs of waarop het zich bevindt (noodzakelijk als het bemonsterd object een Voertuig of Verkeersdeelnemer is om te zeggen over welk Wegobject of Wegdeel deze zich beweegt). </p>
<p>Verkeersmetingen worden dikwijls gegroepeerd uitgewisseld, bvb alle metingen van eenzelfde Meetpunt. De klasse Verkeersmetingverzameling laat toe om te groeperen, bvb om een tijdreeks te beschrijven.</p>
{% endblock %}

{% block jsonld %}
   <p>Een herbruikbare JSON-LD context definitie voor dit applicatieprofiel is terug te vinden op: <a href="{{ documentroot }}/html/mijn.jsonld" target="_blank">{{ documentroot }}/html/mijn.jsonld</a></p>
{% endblock %}
