{% extends "ap2_en.j2" %}

{% block summary %}
<p>This application profile aims to standardize data related to traffic measurements in order to exchange this data more smoothly and increase its reusability.</p>
<p>The data model builds on the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/observaties-en-metingen/">AP Observations and Measurements</a> (based on <a href="https://www.iso.org/standard/32574.html">ISO 19156</a>) and the <a href="https://data.vlaanderen.be/doc/applicatieprofiel/sensoren-en-bemonstering/">AP Sensors and Sampling</a> (based on <a href="https://www.w3.org/TR/vocab-ssn/">SSN/SOSA</a>). There are further references to <a href="https://inspire.ec.europa.eu/Themes/115/2892">INSPIRE Transportation Network</a> and <a href="https://www.iso.org/standard/32575.html">ISO 19157 Data quality</a>.</p>
<p>Central to this is the class Traffic Measurement that indicates which Traffic Characteristic of which Traffic Object was measured and what the result was.</p>
<p>By traffic we mean the movement of objects such as people or goods over media such as road, waterway, railroad etc. in this profile the focus is on road traffic.</p>
<p>Objects related to traffic are the objects that move or are moved such as Vehicles and Traffic participants such as drivers, passengers, pedestrians. Of certainly equal importance are the objects over which traffic occurs.</p>
<p>To observe Traffic Characteristics of the objects being moved, classes such as Vehicle and Traffic Participant are necessary. Examples of characteristics in that case are speed, license plate and the like.</p>
<p>In order to describe characteristics related to traffic over the objects over which the traffic occurs, Road Objects such as Road Segments and Road Objects are needed, as well as Direction of Travel and Road Parts such as Lanes, Bicycle Paths and Footpaths. Examples of characteristics are traffic intensity, turn movement and the like, broken down by Vehicle or Traffic Participant type if necessary.</p>
<p>All these objects together are called Traffic Domain Objects.</p>
<p>Direct observation of objects involved in traffic is not always possible, e.g. one cannot follow an individual vehicle or observe a road as a whole. One has to sample these objects as it were, e.g. by positioning oneself at a certain point along the road (Traffic Monitoring Point) or monitoring a representative distance (Traffic Monitoring Trail). We call these objects Traffic Sampling Objects.</p>
<p>The geographical position of the measurement point or section can be specified as well as the Road Object or Road Section along or on which it is located (necessary if the sampled object is a Vehicle or Traffic Participant to say over which Road Object or Road Section it moves).</p>
<p>Traffic measurements are often exchanged in groups, e.g. all measurements of the same Measuring Point. The class Traffic measurement set allows grouping, e.g. to describe a time series.</p>
{% endblock %}
