{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium beschrijft de terminologie nodig om verkeersmetingen te beschrijven en sommige datastromen waarin deze betrokken zijn.</p>
<p>De terminologie is daarnaast grotendeels verder gebouwd op <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-observaties-en-metingen.html">OSLO Observaties en Metingen</a> en <a href="https://data.vlaanderen.be/standaarden/kandidaat-standaard/applicatieprofiel-sensoren-en-bemonstering.html">OSLO Sensoren en Bemonstering</a></p>
{% endblock %}
