{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel werd ontwikkeld om de verschillende datastromen met betrekking tot verkeersmetingen te modelleren en de structuur van dergelijke data te standaardiseren.</p>
<p>Heel wat (verschillende) organisaties maken gebruik van verkeersmetingen. Het doel is om verkeersdata uit sensoren vlotter uit te wisselen tussen belanghebbenden en zo de herbruikbaarheid van data te vergroten.</p>
{% endblock %}
