{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel heeft tot doel data met betrekking tot verkeersmetingen te standaardiseren om zo deze data vlotter uit te wisselen en de herbruikbaarheid ervan te vergroten.</p>
<p>Het datamodel bouwt verder op het AP Observaties en Metingen (gebaseerd op ISO 19156) en het AP Sensoren en Bemonstering (gebaseerd op SSN/SOSA). Er zijn verder referenties naar INSPIRE Transportnetwerk en ISO 19157 Datakwaliteit.</p>
<p>Centraal staat de klasse Verkeersmetingen die aangeeft welk Verkeerskenmerk van welk Verkeersobject gemeten werd en wat daarvan het resultaat was.</p>
<p>Onder verkeer verstaan we de verplaatsing van objecten zoals personen of goederen over media als land, water etc. in dit profiel ligt de focus op wegverkeer.</p>
<p>Objecten die met verkeer te maken hebben zijn de objecten die verplaatst worden zoals Voertuigen en Verkeersdeelnemers zoals bestuurders, passagiers, voetgangers. Van zeker even groot belang zijn de objecten waarover het verkeer plaatsvindt.</p>
<p>Om Verkeerskenmerken te kunnen observeren van de objecten die verplaatst worden zijn de klassen als Voertuig en Verkeersdeelnemer noodzakelijk. Voorbeelden van kenmerken in dat geval zijn snelheid, nummerplaat en dergelijke.</p>
<p>Om kenmerken met betrekking tot het verkeer over de objecten waarover het verkeer plaatsvindt te kunnen beschrijven waren Wegobjecten zoals Wegsegmenten en Wegobjecten nodig, maar ook Rijrichting en Wegdelen zoals Rijstroken, Fietspaden en Voetpaden. Voorbeelden van kenmerken zijn de verkeersintensiteiten, afslagbewegingen en dergelijke, indien nodig uitgesplitst volgens type Voertuig of Verkeersdeelnemer.</p>
<p>Al deze objecten samen noemen we Verkeersdomeinobjecten.</p>
<p>Directe observatie vd objecten die bij verkeer betrokken zijn is niet altijd mogelijk, men kan bvb geen individueel Voertuig volgen of een weg in zijn geheel observeren. Men moet deze objecten als het ware bemonsteren, bv door zich op een bepaald punt langs de weg te positioneren (Verkeersmeetpunt) of een representatieve afstand te monitoren (Verkeersmeetttraject). We noemen deze objecten Verkeersbemonsteringsobjecten.</p>
<p>De geografische positie van het meetpunt- of traject kan worden opgegeven alsook het Wegobject of Wegdeel waarlangs of waarop het zich bevindt (noodzakelijk als het bemonsterd object een Voertuig of Verkeersdeelnemer is om te zeggen over welk Wegobject of Wegdeel deze zich beweegt). </p>
<p>Verkeersmetingen worden dikwijls gegroepeerd uitgewisseld, bvb alle metingen van eenzelfde Meetpunt. De klasse Verkeersmetingverzameling laat toe om te groeperen om bv een tijdreeks te kunnen meegeven.</p>
{% endblock %}
